.MovieHeader
  padding 15px
  position relative
  overflow hidden

.Wrap
  max-width 1100px
  margin 0 auto

.Top
  position relative
  z-index 1

.BgImg
  filter blur(5px) brightness(.2)
  position absolute
  width 100%
  top 50%
  left 50%
  transform translate(-50%, -50%)

.Loading
  position relative
  text-align center
  color yellow
