@import '../../variables.styl'

.Wrap
  position relative
  z-index 1

.Content
  margin-top 30px

.Title,
.Subtitle,
.Year
  margin-bottom 10px

.Title
  font-size 28px
  font-weight bold

.Subtitle
  opacity .7

.Year
  color $accent
  font-size 21px
