@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap')
@import '../../variables'

:global(body)
  margin 0
  background $dark300
  min-height 100vh
  color $white
  font-family 'Open Sans', sans-serif

:global(img)
  max-width 100%
  height auto

:global([type="date"])
  border none
  background $black
  color $white
  font-size 18px
  font-family 'Open Sans' sans-serif
  padding 3px 10px

.App
  display block