@import '../../variables.styl'

.ModalWrap
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 1
  display flex
  justify-content center
  align-items center

.Overlay
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  background rgba(0,0,0,.5)
  z-index 2

.ModalContent
  position relative
  z-index 3
  padding 40px
  background $dark300
  width 50vw
  max-height 90vh
  overflow-y auto

.ModalTitle
  text-transform uppercase
  font-size 21px
  margin-top 0

.ModalClose
  width 28px
  height 28px
  position absolute
  top 20px
  right 20px
  background url('../../img/modal-close.png') no-repeat 0 0
  cursor pointer
