.NotFoundContainer
  display flex
  flex-direction column
  align-items stretch
  height 100vh

  div
    width 100%
    flex-shrink 1

.NotFoundContent
  display flex
  flex-grow 1
  flex-direction column
  justify-content center
  align-items center
